.container-character {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #616161;
}

.container-character .container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    height: 80px;
    width: 100%;
}

.container-character .container-card {
    width: 220px;
    height: 380px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 69, 43, 0.1);
    box-shadow: 6px 6px 12px;
    cursor: pointer;
}

.container-character .container-name .name {
    margin: 0px;
    \-webkit-box-orient: vertical !important;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 1;
    text-align: center;
    margin-bottom: 10px;
    color: lightcoral;
    font-size: 18px;
    animation: moving-card-title 4s cubic-bezier(0.18, 0.89, 0.32, 1.28) 4.5s infinite;
    transition: transform .1s;
}

.container-character .item {
    margin-bottom: 5px;
    color: #616161;
    font-family: sans-serif;
    font-size: 13px;
}

.container-character .item-origin {
    height: 40px;
    margin-bottom: 0px;
    margin-top: 12px;
    \-webkit-box-orient: vertical !important;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    -webkit-line-clamp: 2;
}

.container-character .picture {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 8px;
    min-height: 220px;
}

.container-body {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100px;
}

@media only screen and (max-width: 800px) {
    .container-character .container-card {
        width: 240px;
    }
}

@keyframes moving-card-title {
    0% {
        transform: translatex(0px);
    }

    5% {
        transform: translatex(30px);
    }

    8% {
        transform: translatex(-30px);
    }

    12% {
        transform: translatex(30px);
    }
    
    15%, 100% {
        transform: translatex(0px);
    }
}
