.container-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.container-general .logo {
    width: 350px;
    margin: 20px 0;
    animation: logo-initial .7s ease-in-out, logo-up-to-down 1s ease-in-out .6s, logo-rigth-to-left 4s ease-in-out 5s infinite;
    transition: transform 2s ease-in-out;
    cursor: pointer;
}

.container-general .messageNoResults {
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}

.container-characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1420px;
    margin: 0 auto;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .container-characters {
        justify-content: center;
    }
}

@keyframes logo-initial {
    to {
        transform: translateY(0px);
    }

    from {
        transform: translateY(-180px);
    }
}

@keyframes logo-up-to-down {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-25px);
    }

    40% {
        transform: translateY(14px);
    }

    60% {
        transform: translateY(-15px);
    }

    80% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes logo-rigth-to-left {
    0% {
        transform: translatex(0px);
    }

    5% {
        transform: translatex(30px);
    }

    8% {
        transform: translatex(-30px);
    }

    12% {
        transform: translatex(30px);
    }
    
    15%, 100% {
        transform: translatex(0px);
    }
}
