.container-country {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    color: darkgray;
}

.container-country .container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.container-country .container-card {
    width: 250px;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 15px;
}

.container-country .container-title .title {
    margin-right: 10px;
    margin-bottom: 0px;
    
}

.container-country .container-title .sub-title {
    margin: 0px;
}

.container-country .item {
    margin-bottom: 0px;
    margin-top: 12px;
}
