.searchForm {
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 280px;
    margin-bottom: 30px;
}

.field {
    height: 25px;
    width: 100%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid lightgray;
    transition: border-bottom .8s ease-in-out;
}

.input-label::after {
    content: '';
    display: block;
    background: red;
    position: absolute;
    top: 28px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform .7s ease-in-out;
}

.field:focus {
    border-bottom: none;
}

.field:focus + .input-label::after {
    transform: scaleX(1);
}

.field:focus + .input-label .input-label-name {
    transform: translateY(-42px);
    font-weight: 800;
}

.input-label-name {
    transition: transform .4s ease;
    position: absolute;
    transform: translateY(-38px);
    width: 100%;
    font-size: 13px;
    color: red;
}

.buttonFilter {
    height: 40px;
    border-radius: 25px;
    width: 100px;
    border: solid 2px lightcoral;
    font-size: 18px;
    background-color: rgba(255, 69, 43, 0.1);
    font-weight: 500;
    color: lightcoral;
    outline: none;
    cursor: pointer;
    box-shadow: 3px 3px 6px;
    transition: box-shadow 1s ease-in-out;
    font-family: sans-serif;
}

.buttonFilter:hover {
    border: none;
    color: #FF452B;
    animation: xenon .5s infinite alternate;
}

.containerModal {
    margin-bottom: 40px;
}

.containerModal .title {
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 22px;
}

.containerSearch {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.containerSearch .text {
    margin-right: 10px;
    font-size: 19px;
    font-weight: 500;
}

.containerSearch .filters {
    margin-right: 10px;
}

.containerSearch .filterBy {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #ff452b;
}

.ReactModal__Content {
    width: 50%;
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
    border-radius: 25px !important;
}

@media only screen and (max-width: 600px) {
    .ReactModal__Content {
        width: 100%;
        height: 380px;
        max-width: 320px;
        padding: 10px !important;
        inset: 50% auto auto 50%;
        transform: translate(0, 30%);
    }

    .searchForm .field {
        height: 25px;
        font-size: 16px;
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    .buttonFilter {
        height: 35px;
        font-size: 16px;
        width: 100px;
    }

    .containerSearch .text {
        font-size: 15px;
    }

    .containerSearch .filterBy {
        font-size: 16px;
        width: 110px;
        \-webkit-box-orient: vertical !important;
        display: -webkit-box;
        overflow: hidden;
        word-break: break-all;
        -webkit-line-clamp: 1;
    }

    .containerSearch {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containerFilters {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
    }

    .containerModal .title {
        font-size: 25px;
    }
  }

  @keyframes xenon {
    0% {
        box-shadow: 0 2px 15px;
    }

    50% {
        box-shadow: 0 3px 18px;
    }

    100% {
        box-shadow: 0 5px 20px;
    }
}